.dau a ::after {
    content: " |"; /* Thêm dấu | vào sau mỗi chữ */
    color: inherit; /* Giữ nguyên màu sắc như của chữ */
    margin-left: 5px; /* Khoảng cách giữa chữ và dấu | */
}

.dau a :last-child::after {
    content: ""; /* Loại bỏ dấu | sau phần tử cuối */
}

.banner {
    height: 100px;
    background-color: #e9ecef;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    margin-bottom: 15px;
}

.bg-hover:hover {
    background: #3399cc;
    transition: ease-in-out .2s;
}

.bg-hover:hover a {
    color: #f1eaea;
}

.hello:hover a {
    color: #3399cc !important;
}

.type-first-after a:last-child::after {
    content: " |"; 
    color: inherit; 
    margin-left: 5px;
}


.type-after a::after {
    content: "|"; /* Thêm dấu | sau mỗi thẻ a */
    color: inherit; /* Giữ nguyên màu của link */
    margin-left: 5px;
}

.type-after a:last-child::after {
    content: ""; 
}

.tintuc:hover {
    cursor: pointer;
    color: #3399cc !important;
    transition: ease-in-out .2s;
}

